/* Fonts */
@font-face {
    font-family: 'Coves';
    src: url(../fonts/Coves);
}

/* General */
:root{
    /* colors */
    --orange-color: #D94711;
    --bg-color: #1b1b1b;
    --white-color: #fff;

    /* Font */
    --font-family: 'Coves';
    --font-size-text: 18px;
    --num: 50;
}
.portfolio{
    background-color: var(--bg-color);
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    position: relative;
    color: var(--white-color);
}

.portfolio__container{
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}
.portfolio__grid{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2,50%);
}

.portfolio__subtitle{
    font-size: 100px;
    font-weight: bold;
    color: var(--orange-color);
    margin: 0;
}

/* header */

.portfolio__header{
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 80px;
}
.portfolio__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.portfolio__list{
    display: flex;
    list-style: none;
}
.portfolio__link{
    margin-left: 45px;
}
.portfolio__link a{
    color: var(--white-color);
    font-weight: bold;
    text-decoration: none;
}

/* banner */

.portfolio__banner-hero{
    max-width: 100%;
    height: 100vh;
    background-image: url(/img/home-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -120px;
}
.portfolio__title-box{
    width: 425px;
    height: 100vh;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 13, 13, 0.74);
}
.portfolio__title{
    margin: 0;
    color: var(--white-color);
    font-size: 85px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}
.portfolio__title small{
    font-size: 29px;
    line-height: 47px;
    color: var(--orange-color);
}

/* About me */
.portfolio__user-img-box{
    max-width: 100%;
}
.portfolio__user-img-box img{
    max-width: 100%;
}
.portfolio__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio__info-box{
    border-left: 2px solid var(--white-color);
    padding: 25px 0 25px 20px;
}
.portfolio__text{
    line-height: 25.9px;
}

/* skills */

.portfolio__skills-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 263px);
    column-gap: 20px;
    row-gap: 80px;
}
.portfolio__card{
    max-width: 100%;
    height: inherit;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.portfolio__percent{
    position: relative;
    width: 175px;
    height: 175px;
    
}
.portfolio__percent svg{
    position: relative;
    width: 175px;
    height: 175px;
    transform: rotate(270deg);
}
.portfolio__percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: rgba(46, 46, 46, 1);
    transform: translate(2.5px, 2.5px);
}
.portfolio__percent svg circle:nth-child(2){
    stroke: var(--orange-color);
    stroke-dasharray: 533;
    stroke-dashoffset: calc(533 - (533 *var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn {
    0%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 1;
    }
}

.portfolio__dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot
{
    0%
    {
        transform: rotate(120deg);
    }
    100%
    {
        transform: rotate(310deg);
    }
}
.portfolio__dot::before{
    content: '';
    position: absolute;
    top: 78%;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--orange-color);
    box-shadow: 0 0 10px var(--orange-color),0 0 30px var(--orange-color);
}

.portfolio__card:hover .portfolio__dot {
    animation: resetAnimateDot 2s linear forwards;
}
@keyframes resetAnimateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    1%
    {
        transform: rotate(120deg);
    }
    100%
    {
        transform: rotate(310deg);
    }
}
.portfolio__number-skill{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.portfolio__number-skill h3{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange-color);
    font-weight: bold;
    font-size: 2.5em;
}
.portfolio__number-skill span{
    font-size: 0.8em;
}
.portfolio__number-skill p{
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.portfolio__logo{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.portfolio__card:hover .portfolio__logo{
    color: var(--orange-color);
}
/* modifier */

.portfolio--mt-300{
    margin-top: 300px;
}
.portfolio--ml-122{
    margin-left: 122px;
}
.portfolio--mr-122{
    margin-right: 122px;
}
.portfolio--py-30{
    padding: 30px 0;
}

/* projects */

.portfolio__banner{
    width: 100%;
    height: 700px;
    background-image: url(/img/projects-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.portfolio__banner .portfolio__subtitle{
    margin-bottom: -55px;
    max-width: 100%;
    border-left: 1px solid var(--white-color);
    padding: 10px 0 10px 20px;
}

.portfolio__gallery{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(303px, 1fr));
    grid-auto-rows: 303px;
    grid-auto-flow: dense;
    gap: 20px;
}

.portfolio__image-box{
    position: relative;
    background-color: #000;
    overflow: hidden;
}

.portfolio__image-box:nth-child(7n + 1){
    grid-column: span 2;
    grid-row: span 2;
}

.portfolio__image-box img{
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.portfolio__image-box:hover img{
    transform: scale(1.1);
}

.portfolio__overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}

.portfolio__overlay:hover{
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 0.9;
}

.portfolio__details{
    text-align: center;
}

.portfolio__info-title{
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: -5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.portfolio__info{
    font-size: 18px;
    font-weight: lighter;
    position: relative;
    bottom: -5px;
    visibility: hidden;
    transition: all 0.3s ease;
}

.portfolio__image-box:hover .portfolio__info-title{
    top: 0px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s 0.2s ease;
}

.portfolio__image-box:hover .portfolio__info{
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s 0.2s ease;
}

.portfolio__details a{
    color: var(--orange-color);
    text-decoration: none;
}